<header class="flex flex-col text-center mt-4 md:flex-row justify-between mx-4">
    <h1 class="text-2xl font-extrabold md:text-3xl">Namuncurá</h1>
    <nav class="no-underline text-lg mt-3 flex justify-around md:text-xl">
        <a href="#Prductos" class="mx-2">Productos</a>
        <a href="#Contacto">Contacto</a>
    </nav>
</header>