---
import { Image } from 'astro:assets';
import heroImage from '../images/hero-namuncura.webp';
---
 

<section class="container flex flex-wrap items-center justify-center mx-auto mt-4 text-primary w-full h-3/4 md:mt-16 px-12 md:flex-row">
   <Image src={heroImage} alt="Mate picture" class="rounded" width="300" height="225" />
   <div class="text-center m-3">
      <h2 class="text-2xl font-bold md:font-extrabold text-[2.2rem]">Si no sabes por dónde empezar..<br> Empezá por un MATE.</h2>
      <p class="text-lg font-normal md:text-[1.2rem] mt-2">Te ofrecemos yerba mate IMPORTADA para acompañar tus días.</p>
   </div>
</section>